#topRow{
  margin: 6px;
}
div.col-lg-6{
  padding-left: 6px;
  padding-right: 6px;
}
div.col-lg-4{
  margin:  0 auto;
}
#footList{
  padding: 0px;
}
#footList li{
  list-style: none;
  float: left;
  width: auto;
}
#footName{
  margin: 0px;
}
footer a{
  color: black;
}
footer.bd-footer{
  background-color: darkgray;
}
